.search-container{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.search-input{
    padding: 8px 20px;
    font-size: 15px;
    border-width: 0px;
    background-color: #a592f2;
    width: 250px;
    border-radius: 10px;
    color: #e7e9f0;
    box-shadow: 0 0 5px rgba(255 ,255,255,0.5);
}

.search-input::placeholder{
    color: #e7e9f0;
}

.search-input:focus{
    outline: none;
}
